<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ config('app.name') }} | {{ trans('auth.login') }}</title>
        <!-- Bootstrap -->
        <link href="{{ asset('/template/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{{ asset('/template/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <!-- NProgress -->
        <link href="{{ asset('/template/nprogress/nprogress.css') }}" rel="stylesheet">
        <!-- Custom Theme Style -->
        <link href="{{ asset('/template/build/css/custom.min.css') }}" rel="stylesheet">
    </head>

    <body class="login">
        <div>
            <div class="login_wrapper">
                <div class="form login_form">
                    <section class="login_content">
                        <form method="POST" action="{{ route('login') }}">
                            <input type="hidden" name="_token" value="{{ csrf_token() }}" />
                            <h1>{{ trans('auth.login') }}</h1>
                            <div>
                                <input type="email" name="email" class="form-control" placeholder="{{ trans('auth.email') }}" required value="{{ old('email') }}" />
                            </div>
                            <div>
                                <input type="password" name="password" class="form-control" placeholder="{{ trans('auth.password') }}" required />
                            </div>
                            {% include 'messages' %}
                            <div>
                                <input type="submit" class="btn btn-success submit" value="{{ trans('auth.login') }}" />
                                <a class="reset_pass" href="{{ route('password.request') }}">{{ trans('auth.reset_pass') }}</a>
                            </div>

                            <div class="clearfix"></div>

                            {% if configs.guess_create_user %}
                                <div class="separator">
                                    <p class="change_link">{{ trans('auth.new_in_site') }}
                                        <a href="{{ route('register') }}" class="to_register"> {{ trans('auth.create_account') }} </a>
                                    </p>
                                    <div class="clearfix"></div>
                                    <br />
                                </div>
                            {% endif %}
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>