{% extends "page" %}

{% block css %}
    <!-- Select2 -->
    <link href="{{ asset('template/select2/dist/css/select2.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{% block form_title %}{%endblock %}<small>{% block form_small_title %}{% endblock %}</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                {% block form %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <!-- Select2 -->
    <script type="text/javascript" src="{{ asset('template/select2/dist/js/select2.min.js') }}"></script>
    <!-- Parsley -->
    <script type="text/javascript" src="{{ asset('template/parsleyjs/dist/parsley.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/parsleyjs/dist/i18n/pt-br.js') }}"></script>
    <!-- Mask -->
    <script type="text/javascript" src="{{ asset('template/jquery-mask/jquery.mask.min.js') }}"></script>
{% endblock %}