<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ config('app.name') }} | {{ trans('auth.create_account') }}</title>
        <!-- Bootstrap -->
        <link href="{{ asset('/template/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{{ asset('/template/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <!-- NProgress -->
        <link href="{{ asset('/template/nprogress/nprogress.css') }}" rel="stylesheet">
        <!-- Custom Theme Style -->
        <link href="{{ asset('/template/build/css/custom.min.css') }}" rel="stylesheet">
    </head>

    <body class="login">
        <div>
            <div class="login_wrapper">
                <div class="form">
                    <section class="login_content">
                        <form method="POST" action="{{ route('password.request') }}">
                            <input type="hidden" name="_token" value="{{ csrf_token() }}" />
                            <input type="hidden" name="token" value="{{ token }}">
                            <h1>{{ trans('auth.change_password') }}</h1>
                            <div>
                                <input type="email" name="email" class="form-control" placeholder="{{ trans('auth.email') }}" required value="{{ email or old('email') }}" />
                            </div>
                            <div>
                                <input id="password" type="password" name="password" class="form-control" placeholder="{{ trans('auth.password') }}" required />
                            </div>
                            <div>
                                <input id="password_confirmation" type="password" name="password_confirmation" class="form-control" placeholder="{{ trans('auth.password_confirmation') }}" required />
                            </div>
                            {% include 'messages' %}
                            <div>
                                <input type="submit" class="btn btn-block btn-success submit" value="{{ trans('auth.change_password') }}" />
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{ asset('/js/register.js') }}"></script>
    </body>
</html>